

.reveal section img
{
  border:0px none white;
  box-shadow:0 0 0px rgba(0, 0, 0, 1) !important;
}

.reveal h1 {
	font-family: Gill Sans;
	font-weight: bolder;
}

.reveal h2 {
	font-family: Gill Sans;
	font-weight: normal;
}

.reveal h3 {
	font-family: Gill Sans;
	font-weight: lighter;
	text-transform: none;
}

.reveal .withbackground h1, .reveal .withbackground h2, .reveal .withbackground h3 {
  text-shadow: 7px 7px 20px black, -7px -7px 20px black, 7px -7px 20px black, -7px 7px 20px black;
  color: white;
}